body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #333;
}

h1 {
  line-height: 1.2em;
}

h2 {
  line-height: 1em;
}

h1, h2 {
  font-size: 21px;
  color: #000;
}
