body {
  font-family: PT Sans;
  font-style: regular;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

h1 {
  line-height: 26px;
}

h1, h2 {
  font-style: bold;
  font-size: 21px;
  color: #000000;
}
